<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TaskMapper">

	<select id="findByAll"
		parameterType="string"
		resultType="com.example.demo.entity.Task">
		SELECT
		id,
		username,
		title,
		content,
		name,
		start_date AS startDate,
		end_date AS endDate,
		created_at AS createdAt,
		updated_at AS updatedAt
		FROM tasks
		WHERE username = #{username}
		ORDER BY id DESC
	</select>

	<select id="findById"
		parameterType="long"
		resultType="com.example.demo.entity.Task">
		SELECT
		id,
		username,
		title,
		content,
		name,
		start_date AS startDate,
		end_date AS endDate,
		created_at AS createdAt,
		updated_at AS updatedAt
		FROM tasks
		WHERE id = #{id}
	</select>

	<insert id="save"
		parameterType="com.example.demo.entity.Task">
		INSERT INTO tasks (
		username,
		title,
		content,
		name,
		start_date,
		end_date
		) VALUES (
		#{username},
		#{title},
		#{content},
		#{name},
		#{startDate},
		#{endDate}
		)
	</insert>

	<update id="update"
		parameterType="com.example.demo.entity.Task">
		UPDATE tasks
		SET
		title = #{title},
		content = #{content},
		name = #{name},
		start_date = #{startDate},
		end_date = #{endDate},
		updated_at = date_trunc('second', now())
		WHERE id = #{id}
	</update>

	<delete id="deleteById"
		parameterType="long">
		DELETE FROM tasks
		WHERE id = #{id}
	</delete>
	<select id="findByPage"
		resultType="com.example.demo.entity.Task">
		SELECT
		id,
		username,
		title,
		content,
		name,
		start_date AS startDate,
		end_date AS endDate,
		created_at AS createdAt,
		updated_at AS updatedAt
		FROM tasks
		WHERE username = #{username}
		ORDER BY id DESC
		LIMIT #{limit}
		OFFSET #{offset}
</select>

	<select id="countByUsername"
		resultType="int">
		SELECT COUNT(*)
		FROM tasks
		WHERE username = #{username}
</select>

</mapper>