<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body class="auth-page">

    <div class="card">

        <div class="title">ユーザー登録</div>

        <div class="error text-center" th:if="${error}" th:text="${error}"></div>

        <form th:action="@{/register}" method="post" th:object="${login}">

            <div class="form-area">
                <label for="username">ユーザー名（半角英字）</label>
                <input type="text" id="username" th:field="*{username}" class="input-box">
                <span class="field-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

                <label for="password">パスワード（半角英字）</label>
                <input type="password" id="password" th:field="*{password}" class="input-box">
                <span class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                <button type="submit" class="btn btn-green">登録</button>

            </div>

        </form>

        <a th:href="@{/login}" class="link-text">ログインはこちら</a>

    </div>

</body>

</html>